.proxima {
	font-family: 'Proxima Nova', sans-serif;
}

.poppins{
	font-family: 'Poppins', sans-serif;
}

.rubik{
	font-family: 'Rubik', sans-serif;
}

.dm-sans{
	font-family: 'DM Sans', sans-serif;
}

.montserrat{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}